# Methods
public net.minecraft.client.renderer.entity.LivingEntityRenderer addLayer(Lnet/minecraft/client/renderer/entity/layers/RenderLayer;)Z
public net.minecraft.world.entity.player.Player setShoulderEntityLeft(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.player.Player setShoulderEntityRight(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.player.Player respawnEntityOnShoulder(Lnet/minecraft/nbt/CompoundTag;)V
public net.minecraft.world.entity.player.Player getShoulderEntityLeft()Lnet/minecraft/nbt/CompoundTag;
public net.minecraft.world.entity.player.Player getShoulderEntityRight()Lnet/minecraft/nbt/CompoundTag;
public net.minecraft.client.renderer.entity.EntityRenderers register(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/client/renderer/entity/EntityRendererProvider;)V
public net.minecraft.world.level.block.LeavesBlock updateDistance(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/LevelAccessor;Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/level/block/state/BlockState;
public net.minecraft.world.entity.ai.navigation.PathNavigation shouldTargetNextNodeInDirection(Lnet/minecraft/world/phys/Vec3;)Z
public net.minecraft.client.renderer.LevelRenderer calculateParticleLevel(Z)Lnet/minecraft/client/ParticleStatus;
public net.minecraft.client.particle.ParticleEngine register(Lnet/minecraft/core/particles/ParticleType;Lnet/minecraft/client/particle/ParticleEngine$SpriteParticleRegistration;)V
public net.minecraft.world.level.block.SaplingBlock <init>(Lnet/minecraft/world/level/block/grower/TreeGrower;Lnet/minecraft/world/level/block/state/BlockBehaviour$Properties;)V
public net.minecraft.network.protocol.game.ClientboundAddEntityPacket <init>(Lnet/minecraft/network/RegistryFriendlyByteBuf;)V
public net.minecraft.world.entity.ai.behavior.RandomStroll getTargetSwimPos(Lnet/minecraft/world/entity/PathfinderMob;)Lnet/minecraft/world/phys/Vec3;
public net.minecraft.client.resources.TextureAtlasHolder getSprite(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/renderer/texture/TextureAtlasSprite;
public net.minecraft.world.entity.schedule.Activity register(Ljava/lang/String;)Lnet/minecraft/world/entity/schedule/Activity;
public net.minecraft.world.entity.schedule.Activity <init>(Ljava/lang/String;)V
public net.minecraft.network.protocol.game.ClientboundAddEntityPacket write(Lnet/minecraft/network/RegistryFriendlyByteBuf;)V
public net.minecraft.client.renderer.item.ItemProperties register(Lnet/minecraft/world/item/Item;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/item/ClampedItemPropertyFunction;)V
public net.minecraft.world.entity.ai.sensing.SensorType <init>(Ljava/util/function/Supplier;)V
public net.minecraft.world.entity.Entity getDimensions(Lnet/minecraft/world/entity/Pose;)Lnet/minecraft/world/entity/EntityDimensions;
public net.minecraft.world.inventory.MenuType register(Ljava/lang/String;Lnet/minecraft/world/inventory/MenuType$MenuSupplier;)Lnet/minecraft/world/inventory/MenuType;
public net.minecraft.world.inventory.MenuType <init>(Lnet/minecraft/world/inventory/MenuType$MenuSupplier;Lnet/minecraft/world/flag/FeatureFlagSet;)V
public net.minecraft.client.gui.screens.MenuScreens register(Lnet/minecraft/world/inventory/MenuType;Lnet/minecraft/client/gui/screens/MenuScreens$ScreenConstructor;)V
public net.minecraft.resources.ResourceLocation <init>(Ljava/lang/String;Ljava/lang/String;)V
public net.minecraft.world.level.block.Block spawnDestroyParticles(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/entity/player/Player;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/block/state/BlockState;)V
public net.minecraft.world.food.FoodData add(IF)V
public net.minecraft.client.model.HumanoidModel setupAttackAnimation(Lnet/minecraft/world/entity/LivingEntity;F)V
public net.minecraft.client.model.HumanoidModel poseRightArm(Lnet/minecraft/world/entity/LivingEntity;)V
public net.minecraft.client.model.HumanoidModel poseLeftArm(Lnet/minecraft/world/entity/LivingEntity;)V
public net.minecraft.world.level.block.AbstractCandleBlock addParticlesAndSound(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/util/RandomSource;)V

# Methods - remove final (extendable)
public-f net.minecraft.world.entity.LivingEntity canBreatheUnderwater()Z
public-f net.minecraft.world.entity.LivingEntity getDimensions(Lnet/minecraft/world/entity/Pose;)Lnet/minecraft/world/entity/EntityDimensions;
public net.minecraft.world.level.block.grower.TreeGrower <init>()V

# Fields
public net.minecraft.world.entity.Entity DATA_AIR_SUPPLY_ID
public net.minecraft.client.Minecraft itemColors
public net.minecraft.client.model.geom.ModelPart children
public net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.builders.LayerDefinition mesh
public net.minecraft.client.model.geom.builders.PartDefinition cubes
public net.minecraft.client.model.geom.builders.PartDefinition partPose
public net.minecraft.client.model.geom.builders.PartDefinition children
public net.minecraft.client.model.geom.builders.CubeDefinition origin
public net.minecraft.client.model.geom.builders.CubeDefinition dimensions
public net.minecraft.client.model.geom.builders.CubeDefinition texCoord
public net.minecraft.client.model.geom.builders.CubeDefinition texScale
public net.minecraft.client.model.geom.builders.CubeDefinition grow
public net.minecraft.client.model.geom.builders.CubeDeformation growX
public net.minecraft.client.model.geom.builders.CubeDeformation growY
public net.minecraft.client.model.geom.builders.CubeDeformation growZ
public net.minecraft.world.effect.MobEffectInstance duration
public net.minecraft.world.effect.MobEffectInstance ambient
public net.minecraft.client.particle.ParticleEngine textureAtlas
public net.minecraft.client.renderer.LevelRenderer cullingFrustum
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_TRANSLUCENT_EMISSIVE_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_TRANSLUCENT_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_TRANSLUCENT_CULL_SHADER
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_ENTITY_CUTOUT_SHADER
public net.minecraft.client.renderer.RenderStateShard TRANSLUCENT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard NO_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard CULL
public net.minecraft.client.renderer.RenderStateShard COLOR_DEPTH_WRITE
public net.minecraft.client.renderer.RenderStateShard OVERLAY
public net.minecraft.client.renderer.RenderStateShard RENDERTYPE_CUTOUT_SHADER
public net.minecraft.client.renderer.RenderStateShard LIGHTMAP
public net.minecraft.client.renderer.RenderStateShard NO_CULL
public net.minecraft.client.renderer.RenderStateShard COLOR_WRITE
public net.minecraft.client.renderer.RenderStateShard NO_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard LEQUAL_DEPTH_TEST
public net.minecraft.client.renderer.RenderStateShard GLINT_TRANSPARENCY
public net.minecraft.client.renderer.RenderStateShard ADDITIVE_TRANSPARENCY
public net.minecraft.world.level.material.MapColor MATERIAL_COLORS
public net.minecraft.client.Minecraft textureManager
public net.minecraft.world.entity.LivingEntity jumping
public net.minecraft.world.entity.Entity FLAG_SHIFT_KEY_DOWN
public net.minecraft.world.entity.Entity DATA_SHARED_FLAGS_ID
public net.minecraft.world.inventory.Inventory compartments
public net.minecraft.world.level.levelgen.structure.pools.SinglePoolElement template
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState piece
public net.minecraft.client.resources.TextureAtlasHolder textureAtlas
public net.minecraft.client.renderer.texture.TextureAtlas width
public net.minecraft.client.renderer.texture.TextureAtlas height
public net.minecraft.stats.RecipeBookSettings states
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent tabButtons
public net.minecraft.client.gui.screens.recipebook.RecipeBookComponent menu
public net.minecraft.server.network.ServerCommonPacketListenerImpl connection
public net.minecraft.client.gui.components.toasts.AdvancementToast BACKGROUND_SPRITE
public net.minecraft.world.entity.ai.goal.FollowOwnerGoal startDistance
public net.minecraft.world.entity.ai.goal.FollowOwnerGoal stopDistance
public net.minecraft.client.model.geom.ModelPart$Cube polygons
public net.minecraft.server.PlayerAdvancements progress

# Classes - extendable
public net.minecraft.world.level.block.grower.TreeGrower

# Classes - accessible inner
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.RenderStateShard$TransparencyStateShard
public net.minecraft.client.renderer.RenderStateShard$TextureStateShard
public net.minecraft.client.renderer.RenderStateShard$CullStateShard
public net.minecraft.client.renderer.RenderStateShard$WriteMaskStateShard
public net.minecraft.client.renderer.RenderStateShard$OverlayStateShard
public net.minecraft.client.renderer.RenderStateShard$DepthTestStateShard
public net.minecraft.client.renderer.RenderStateShard$EmptyTextureStateShard
public net.minecraft.client.renderer.RenderStateShard$LightmapStateShard
public net.minecraft.world.item.alchemy.PotionBrewing$Mix
public net.minecraft.util.datafix.fixes.ItemStackComponentizationFix$ItemStackData
public net.minecraft.world.inventory.BrewingStandMenu$PotionSlot
public net.minecraft.world.inventory.BrewingStandMenu$IngredientsSlot
public net.minecraft.world.inventory.BrewingStandMenu$FuelSlot
public net.minecraft.world.level.biome.Biome$ClimateSettings
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$PieceState
public net.minecraft.world.inventory.MenuType$MenuSupplier
public net.minecraft.client.gui.screens.MenuScreens$ScreenConstructor
public net.minecraft.stats.RecipeBookSettings$TypeSettings
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.model.geom.ModelPart$Polygon